.mainbody{
    margin:0px;
    width:100%;
    height:500px;

}
.container{
    width: 100%;
    height:169%;
}
.head{
    width: 71.7%;
    height: 68%;
    background-color:#f0f2f5;;
    padding-top: 54px;
    padding-right: 205px;
    padding-bottom: 80px;
    padding-left: 229px;
    zoom: 1;
    margin: 0px;
}

.headbody{
    width: 98%;
    height: 84%;
    padding-top: 38px;
    padding-left: 38px;
}
.left-body{
    width: 45.2%;
    height: 80%;
    float: left;

}
.right-body{
    width: 45%;
    height: 80%;
    float: left;
    padding-left: 87px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    padding-top: 41px;
}

.imgdiv{
    width: 320px;
    height:106px ;
}
.fbimg{
    width: 84%;
    height: 141%;
    padding-top: 62px;
}
.textdiv{
    width: 500px;
    height: 84px;
}

#text{
    font-size: 28px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    padding-top: 50px;
}

.rightform{
    width: 379px;
    height: 325px;
    padding-left: 12px;
    padding-top: 12px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);


}

.empass{
    width: 366px;
    height: 131px;
    
}
.emailtab{
    width: 344px;
    height: 46px;
    border-radius: 8px;
    border: 1px solid #dddfe2;
    font-size: 17px;
    font-stretch:extra-expanded;
    padding-left: 15px;
}

.email{
    width: 364px;
    height: 63px;
}

.password{
    width: 364px;
    height:63px;
  
}
.passtab{
    width: 344px;
    height: 46px;
    border-radius: 8px;
    border: 1px solid #dddfe2;
    font-size: 17px;
    font-stretch:extra-expanded;
    padding-left: 15px;

}
.logindiv{
    width: 366px;
    height:54px;


}
.loginbutton{
    width: 364px;
    height:48px;
    background-color: #1877f2;
    font-weight :700;
    border-radius: 8px;
    border: 1px solid #1877f2;
    color: white;
    font-size: 18px;
}


.forgotdiv{
    width: 366px;
    height:19px;
    padding-top: 10px;
    padding-left: 110px;
    text-decoration: none;


}
.forgotnpass{
    align-items: center;
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}


.line{
    width: 330px;
    height:0.8px;
    display:flex;
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}
.createbutton{
    width: 273px;
    height: 51px;
    padding-left: 79px;
}

.createnew{
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    background-color: #42b72a;
    border-color: #42b72a;
     color: #ffffff;
    font-weight: bold;

}

.celebritydiv{
    width: 351px;
    height: 19px;
    font-size: 14px;
    padding-left: 38px;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    margin-top: 23px;
    
}

.celebritytext{
    color: #1c1e21;

}
.createpage{
    font-weight:600;
    text-decoration: none;
    color: #1c1e21;

}
.footer{
    width: 85%;
    height: 166.7px;
    float: left;
    background:white;
    padding-left: 235px;
    padding-top: 0px;
}

.footerbody{
    width:980px ;
    height:151px ; 
  
}
.footerbody1{
    width: 960px;
    height: 35px;
    display:flex;
    display:inline-flex;
    flex-direction: row;
    justify-content:space-between;
    

}

.footerbody2{
    width: 850px;
    height: 5px;
    
}
.footerbody3{
    width: 980px;
    height: 57px;
   

}
.text1{
    align-self:auto;
    padding-left: 6px;
    text-decoration:none;
    font-size: 12px;
    color: #8a8d91;
    font-family: Helvetica, Arial, sans-serif;
}
.plusicon{
    font-size: 20px;
    font-weight: 600;
}
.plusbutton{
    width: 26px;
    height: 24px;
    margin-left: 8px;
}
.text2{
    align-self:auto;
    padding-left: 0px;
    text-decoration:none;
    font-size: 12px;
    color: #8a8d91;
    font-family: Helvetica, Arial, sans-serif; 
    margin-left: 3px;
}
.textmeta{
    align-self:auto;
    padding-left: 4px;
    text-decoration:none;
    font-size: 12px;
    color: #8a8d91;
    font-family: Helvetica, Arial, sans-serif;

}
.footerline{
    margin-left: 40px;
    padding-left: 450px;
    background-color: #8a8d91;
}
